{% extends '2col10col.html.twig' %}

{% block title %}Events{% endblock %}

{% block sidebar %}

{% endblock %}

{% block content %}
    <div class="container-fluid d-flex my-4 align-items-center">
        <h4 class="mx-3">Filter | </h4>
        <div class="">
            {{ form_start(form) }}
            <div class="d-flex align-items-center">
                <div class="mx-5">{{ form_row(form.startDate) }}</div>
                <div>{{ form_row(form.endDate) }}</div>
                <div>{{ form_row(form.submit) }}</div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">License plate</th>
            <th scope="col">Park Number</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Description</th>
        </tr>
        </thead>
        <tbody>
        {% for event in events%}
            <tr>
                <th scope="row">{{ event.id }}</th>
                <td>{{ event.licensePlate }}</td>
                <td>{{ event.carPark.id }}</td>
                <td>{{ event.dateTime|date('Y-m-d') }}</td>
                <td>{{ event.dateTime|date('H:i') }}</td>
                <td>{{ event.description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

